a{
    text-decoration:none;
    color:crimson;
}
.form{
    border: solid 1px white;
    margin-top: 50px;
    display: inline-block;
    background-color: white;
    padding: 20px 50px;
    font-family: cursive;
    border-radius: 7px;
    font-weight: bold;
    color:#676666;

}
body,html{
    background-color: #d3e4e6;
    text-align: center;
}
body>*{
    text-align: left;
}
.mytext{
    width:350px;
    height:45px;
margin-top: -3px;
border-radius: 5px;
font-size:0.9em;


}
.btn{
    font-family: arial;
      width: 350px;
      height: 55px;
      margin-top: 20px;
      background-color:crimson;
      color:white;
      border-radius: 20px;
      font-size: 1em;
      padding: 20px,0px;
      font-weight: bold;
      border: 1px solid crimson;
}
#layout{
    margin-top:40px;
    line-height: 3;
    
}
h2{
    text-align: center
}

#ftr{
    white-space: pre-wrap;
    font-size: 1.1em;
}

/* #header{
    font-family: "segoe print";
    font-weight: bold;
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    margin-top:-9px;
    margin-left: -9px;
    margin-right: -9px; */

}
#sm{
    margin-top:-25px;
